.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

}
.container > div {
  background-color: pink;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
}