.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #100B00;


}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

}


.title {
  font-family: 'rickson', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 60px;

}

.title1 {
  font-family: 'rickson', sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
  line-height: 60px;

}

.scores3 {
  font-family: 'bebas', sans-serif;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  line-height: 40px;
  
}

.scores {
  font-family: 'rickson', sans-serif;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.scores1 {
  font-family: 'bebas', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}

.bandpic {
  width: 70%;
  height: 70%;
  padding: 10px;
  padding-bottom: 30px;
  
}

.button {
  width: 180px;
  height: 40px;
  background-color: #ef233c;
  font-family: 'bebas', sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;;
}

.logo {
  padding-bottom: 10px;
}
